name: Greetings

on: 
# [pull_request_target, issues]
  push:
    # branches: [ "main" ]
    # Publish semver tags as releases.
    tags: [ 'simple_workflow_v*.*.*' ]
    
jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Message that will be displayed on users' first issue"
        pr-message: "Message that will be displayed on users' first pull request"
