name: new-issue-automation

on:
  issues:
    types: [opened, edited, labeled, closed]
    
jobs:
  move-new-issues-to-backlog-now:
    # We not want to move P0 issues to the backlog column
    if: ${{ contains(github.event.issue.labels.*.name, 'P0') }}
    runs-on: ubuntu-latest
    env:
      BOARD_NAME: "borad-my-board"
      OWNER: ${{ github.repository_owner }}
      REPO: ${{ github.event.repository.name }}
      ISSUE: ${{ github.event.issue.number }}
    steps:
      - name: Check if issue is already in "${{ env.BOARD_NAME }}"
        run: |
          if curl -i -H 'Content-Type: application/json' -H "Authorization: bearer ${{ secrets.GITHUB_TOKEN }}" -X POST -d '{"query": "query($issue: Int!, $owner: String!, $repo: String!) { repository(owner: $owner, name: $repo) { issue(number: $issue) { projectCards { nodes { project { name } } } } } } ", "variables" : "{ \"issue\": '${ISSUE}', \"owner\": \"'${OWNER}'\", \"repo\": \"'${REPO}'\" }" }' https://api.github.com/graphql | grep "\b$BOARD_NAME\b"; then
            echo "Issue is already in Project '$BOARD_NAME', cancelling this workflow";
            echo "ALREADY_IN_BOARD=true" >> $GITHUB_ENV
          else
            echo "Issue is not in project '$BOARD_NAME', adding it to $BOARD_NAME."
            echo "ALREADY_IN_BOARD=false" >> $GITHUB_ENV
          fi
      - uses: alex-page/github-project-automation-plus@v0.8.0
        if: ${{ env.ALREADY_IN_BOARD == 'false' }}
        with:
          project: ${{ env.BOARD_NAME }}
          column: "Todo"
          # The normal GITHUB_TOKEN can not be used inside a private repo. So we
          # have to use a Personal GitHub Token. See more information:
          # https://github.com/alex-page/github-project-automation-plus#personal-access-token
          repo-token: ${{ secrets.GITHUB_TOKEN }}
  add-comment:
    if: github.event.label.name == 'P0'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Add comment
        run: gh issue comment "$NUMBER" --body "$BODY"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          NUMBER: ${{ github.event.issue.number }}
          BODY: >
            This issue is available for anyone to work on.
            **Make sure to reference this issue in your pull request.**
            :sparkles: Thank you for your contribution! :sparkles:
