name: new-issue-automation


on:
  push:
    branches:
    - main

defaults:
  run:
    shell: bash
    working-directory: ./scripts

env:
  SAMPLE_ENV_VAR: "This is a sample env var"
 
jobs:
  super-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Retrieve secret
        env:
          super_secret: ${{ secrets.SUPERSECRET }}
        run: |
          echo "$super_secret"
      - name: Checkout code
        env:
          super_secret: ${{ secrets.SUPERSECRET }}
        run: |
          echo "This is a sample action"
          echo : ${{ env.SAMPLE_ENV_VAR }}
          chmod +x ./scripts/caa900_logo.sh
          ./scripts/caa900_logo.sh
      - name: Validate YAML Schema
        uses: nwisbeta/validate-yaml-schema@v1.0.3
        with:
          yamlSchemasJson: |
            {
                "http://json.schemastore.org/composer": ["/*"],
                "file:///home/johnd/some-schema.json": ["some.yaml"],
                "../relative/path/schema.json": ["/config*.yaml"],
                "/Users/johnd/some-schema.json": ["some.yaml"],
            }
# Path: seneca/jenkins-devops-microservices/.github/labeler.yml
# This is a basic configuration file with a single label
# that will be applied to all issues and pull requests.
# For more information, see
  second-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/labeler@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: .github/labeler.yml