name: Experiment Variables

on:
    push:
        branches:
            - main
            - dev-workflows
    workflow_dispatch:
        inputs:
            Who-to-Greet:
                description: 'my inputs'
                required: true
                default: 'my default value'
                type: string
env:
    my-env-variable: ${{ vars.ENV_CONTEXT_VAR }}
    First_var: "Codespace Viraspace"

jobs:
    display-variables:
        name: ${{ vars.JOB_NAME }}
        runs-on: ubuntu-latest
        environment: ${{ vars.ENVIRONMENT_STAGE }}
        steps:
            - name: Use Variables1
              run: |
               echo "repository variable : $REPOSITORY_VAR"
               echo "organizatin variable : $ORGANIZATION_VAR"
               echo "overridden variavle : $OVERIDDEN_VAR"
               echo "variable frlm shell environment : $my-env-variable"
               echo "runner variable direct reference: $First_var"
               echo "context referencing ${{ env.First_var}}"
              env:
               REPOSITORY_VAR: ${{ vars.REPOSITORY_VAR }}
               ORGANIZATION_VAR: ${{ vars.ORGANIZATION_VAR }}
               OVERIDDEN_VAR: ${{ vars.OVERRIDDEN_VAR }}
